{% extends 'base.html.twig' %}

{% block title %}Modifier le mot de passe{% endblock %}

{# {% form_theme form 'ad/_collection.html.twig' %} #}

{% block body %}

<div class="container my-5 clearfix">
    <h1>Modifier votre mot de passe </h1>

    {{ form_start(form) }}
    
    {{ form_widget(form) }}

    <button type="submit" class="btn btn-primary float-right"> 
        <i class="fas fa-check"></i>
    Modifier votre mot de passe !
    </button>

    {{ form_end(form) }} 
</div>

{% endblock %}